@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 

body,
html #root {
  padding: 0;
  margin: 0;
}

.gridImg{
  background-image: url('https://public.bnbstatic.com/static/academy/uploads-thumbnails/46d6dad92ae74670b466962f4841f528.png');
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    height: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-top: 90%;
}
 
@font-face {
  font-family: "Custom1";
  src: url("/font/NewTegomin-Regular.ttf");
}

@font-face {
  font-family: "Custom2";
  src: url("/font/Nosifer-Regular.ttf");
}

.link_a {
  border: 4px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;

  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

div .label,
div .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

div .label {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

div .icon-arrow {
  fill: #fff;
  height: 15px;
  top: 17px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
    opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

a .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

a:hover .label {
  transform: translateX(-52px);
}

a:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

a:active {
  border-color: #fcd435;
  color: #fcd435;
}

a:active .icon-arrow {
  fill: #fcd435;
}

.search {
  position: relative;
  margin: 0 auto;
  
}
.input:focus {
  width: 200px;
  height: 40px;
  
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 40px;
  line-height: 2em;
  font-weight: 100;
  font-size: 12px;
  cursor: auto;
}

.input {
  float: right;
  border: 3px solid #fff;
  outline: none;
  width: 15px;
  cursor: pointer;

  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  height: 15px;
  color: #fff;
  border-radius: 40px;
  background: none;
  font-size: 0;
}
.close span {
  width: 3px;
  height: 12px;
  border-radius: 2px;
  background: #fff;
  display: inline-block;
  
}

.front {
  position: absolute;
  right: 24px;
  top: 13px;
  
  transform: rotate(-45deg);
  opacity: 0;
  animation-delay: 2s;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.back {
  
  position: absolute;
  right: -2px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: 0.2s all ease-in;
}

.input:focus + div .front {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input:focus + div .back {
  right: 24px;
  top: 13px;
}

ul {
  list-style-type: none;
}

#Girl
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

@keyframes swing {
    0% { transform: rotate(9deg); }
    100% { transform: rotate(-9deg); }
}


#Vector_38
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_39{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_40
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
}


.shap.one {
    background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
    width: 650px;
    height: 510px;
    top: -43%;
    left: -58%;
}
.shap {
    position: absolute;
    opacity: 0.05;
    transform: rotate(45deg);
    left: 90px;
    z-index: -1;
    border-radius: 45px;
}

.shap.two {
    background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
    width: 666px;
    height: 330px;
    top: -42%;
    left: -15%;
}
.mauto{margin:auto;}
.bg-svg{
    
 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
    
  margin-bottom:40px;
}

 

#Leaf1
{
    -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
            }


#leaf11
{
    -webkit-animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box; 
}

#leaf10
{
    -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box; 
}

#leaf12
{
    -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf13
{
    -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#lef14
{
    -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf15
{
    -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf16
{
    -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf17
{
    -webkit-animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

/* .sun-editor-editable .se-component {
  display: inline-block;
} */
 
 
 
#wheel-right,
#left-wheel {
  animation: wheel 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#hat {
  animation: hat 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#man-bike {
  animation: bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes wheel {
  from {
      transform: rotateZ(0deg);
  }

  to {
      transform: rotateZ(360deg);
  }
}

@keyframes bike {
  from {
      transform: rotateX(0deg);
  }

  to {
      transform: rotateX(15deg);
  }
}

@keyframes hat {
  from {
      transform: translateY(0%);
  }

  to {
      transform: translateY(30%);
  }
}

 
.word {
  height: 18px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  background: white;
  border-radius: 10px;
  display: inline-block;
}

.paragraph {
  margin-bottom: 40px;
}

.progress-icon {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 120px;
}

@media (max-width: 600px) {
  .content-placeholder {
    padding-left: 80px;
  }

  .progress-icon {
    width: 70px;
    height: 70px;
    left: 10px;
    top: 10px;
  }

  .header .word {
    height: 30px;
  }

  .word {
    height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
}

 
 
 